In [1]:
from bs4 import BeautifulSoup
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep
import pandas as pd

__Task 1__

In [2]:
# lets connect to the web driver
driver = webdriver.Chrome(r"C:\Users\parin\Downloads\chromedriver_win32\chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)

In [3]:
skill=driver.find_element_by_css_selector("#qsb-keyword-sugg")
skill.send_keys("Data Analyst")
location=driver.find_element_by_css_selector("#qsb-location-sugg")
location.send_keys("Bangalore")
search=driver.find_element_by_css_selector("#root > div.naukriHomePageContainer > div.topSection > section > div > form > div.search-btn > button")
search.click()

In [4]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:10]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="20c21d83-7f1f-4f25-ba76-e30c5b707e58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="95d8d2ec-33c2-45e2-8380-44d4036b2e78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="3c298211-9851-4ca8-9992-e54417a62ca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="e94b801c-639b-4c5e-aece-bd188d88221e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="bbf3e0da-6511-4ba0-b9ec-95d8b1e48073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="e7d19e09-3f9a-4c0b-8b3f-5c50d287f26c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="77d3597d-f49e-4fc9-b2a0-b352a3f58089")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="040d9dd2-641d-473c-943c-c24e09c805ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="a02a69a7-ac0d-431c-9933-bb03f088d9b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="4b90841e-0795-41cc-9feb-0d09ff73c972")>]

In [5]:
for i in range(0,10):
    job_tag=job_tags[i].text
    job_title.append(job_tag)
    company_tag=company_tags[i].text
    company_name.append(company_tag)
    location_tag=location_tags[i].text
    job_location.append(location_tag)
    exp_tag=exp_tags[i].text
    exp_req.append(exp_tag)

In [6]:
Job_details=pd.DataFrame({})
Job_details["Job Title"]=job_title
Job_details["Company Name"]=company_name
Job_details["Job Location"]=job_location
Job_details["Experience Required"]=exp_req

In [7]:
Job_details

,Job Title,Company Name,Job Location,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",0-3 Yrs
1,Network Design & Data Analyst,Dell International Services India Private Limited,Bangalore/Bengaluru,0-2 Yrs
2,Consultant - Data Analyst,Flipkart Internet Private Limited,Bangalore/Bengaluru,0-2 Yrs
3,Junior Data Analyst,Simplilearn,Bangalore/Bengaluru(Sector 2 HSR Layout)\n(WFH...,0-2 Yrs
4,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,"Mumbai, Bangalore/Bengaluru",10-15 Yrs
5,Data Analyst,IBM India Pvt. Limited,Bangalore/Bengaluru,3-7 Yrs
6,PDM - Data Analyst,Schneider Electric India Pvt. Ltd.,"Davangere, Bangalore/Bengaluru",3-4 Yrs
7,"Hot Vacancies - Senior Data Analyst, Bengaluru",WSP CONSULTANTS INDIA PRIVATE LIMITED,Bangalore/Bengaluru,5-10 Yrs
8,Business Data Analyst - MIS & Reporting,INTERTRUST GROUP,"Mumbai, Bangalore/Bengaluru",3-8 Yrs
9,Openings For Data Analyst For Bangalore with C...,JoulestoWatts Business Solutions Pvt Ltd,Bangalore/Bengaluru\n(WFH during Covid),5-10 Yrs

__Task 2__

In [8]:
driver.get("https://www.naukri.com/")


skill=driver.find_element_by_css_selector("#qsb-keyword-sugg")
skill.send_keys("Data Scientist")
location=driver.find_element_by_css_selector("#qsb-location-sugg")
location.send_keys("Bangalore")
search=driver.find_element_by_css_selector("#root > div.naukriHomePageContainer > div.topSection > section > div > form > div.search-btn > button")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
exp_req=[]

job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:10]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="c51702bf-d3e7-4a0b-81b7-314dcc3d82dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="bb68f4f6-7da1-44dd-ad04-a72811360f2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="9fef7c6f-90a8-4f44-a428-dffecb19c844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="ef4a8f19-919c-4d12-b97f-195a51fe3f77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="75aef346-8a12-4806-8f97-6e8567b14fcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="712b2dfc-f886-463f-a674-c483558fb6b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="8434c439-419b-45c9-956b-9fc0041ab96d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="41cb507f-a264-4d57-8519-75e8d57ffdf4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="6586e883-9c09-42a6-8ac7-aec3b5611c59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7a057cc04fe1fea77eab8e193562dffa", element="fc0e24da-c476-4094-9b3e-8d47eeeb6699")>]

In [10]:
for i in range(0,10):
    
    job_tag=job_tags[i].text
    job_title.append(job_tag)
    company_tag=company_tags[i].text
    company_name.append(company_tag)
    location_tag=location_tags[i].text
    job_location.append(location_tag)
    exp_tag=exp_tags[i].text
    exp_req.append(exp_tag)

In [11]:
Job_details=pd.DataFrame({})
Job_details["Job Title"]=job_title
Job_details["Company Name"]=company_name
Job_details["Job Location"]=job_location
Job_details["Experience Required"]=exp_req

In [12]:
Job_details

,Job Title,Company Name,Job Location,Experience Required
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",0-3 Yrs
1,Data Scientist,Flipkart Internet Private Limited,Bangalore/Bengaluru,0-5 Yrs
2,Senior Data Scientist,Flipkart Internet Private Limited,Bangalore/Bengaluru,5-10 Yrs
3,Senior/Lead Data Scientist - Machine Learning/...,Squareroot Consulting Pvt Ltd.,Bangalore/Bengaluru,1-6 Yrs
4,Associate Data Scientist,Atonarp,Bangalore/Bengaluru,1-4 Yrs
5,Lead Data Scientist,bd,Bangalore/Bengaluru,2-7 Yrs
6,Job Opening For the Position Data Scientist,Pluto seven business solutions (p) limited,Bangalore/Bengaluru,2-6 Yrs
7,Data Scientist - Chubb - Bangalore,CHUBB BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru\n(WFH during Covid),5-10 Yrs
8,Data Scientist,Atonarp,Bangalore/Bengaluru,3-7 Yrs
9,Data Scientist,Siemens Limited,Bangalore/Bengaluru,2-6 Yrs

In [13]:
## Clicking on the Job to get discription

to_click=driver.find_element_by_xpath("//a[@class='title fw500 ellipsis']")
to_click.click()

In [35]:
#data4=driver.find_element_by_xpath("/html/body/div[1]/main/div[2]/div[2]/section[2]")
data5=driver.find_element_by_xpath("//section[@class='job-desc']")
data5=driver.find_elements_by_class_name("job-desc")


# EVEN THOUGH MY X_PATH IS CORRECT< STILL UNABLE TO GET THE DATA

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//section[@class='job-desc']"}
  (Session info: chrome=91.0.4472.124)

__Task 3__

In [37]:
chromedriver_path = r"C:\Users\parin\Downloads\chromedriver_win32\chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.naukri.com/")

In [38]:
skill=webdrivers.find_element_by_css_selector("#qsb-keyword-sugg")
skill.send_keys("Data Scientist")
#location=webdrivers.find_element_by_css_selector("#qsb-location-sugg")
#location.send_keys("Bangalore")
search=webdrivers.find_element_by_css_selector("#root > div.naukriHomePageContainer > div.topSection > section > div > form > div.search-btn > button")
search.click()
sleep(3)

In [40]:
# selecting filter for location
loc_filter=webdrivers.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in loc_filter:
    if i.text=="Delhi / NCR":
        i.click()
        break
sleep(3)
# Salary filter 

sal_filter=webdrivers.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in sal_filter:
    if i.text=="3-6 Lakhs":
        i.click()
        break

In [41]:
# Scraping data for the first 10 jobs.

job_title=[]
job_location=[]
company_name=[]
exp_req=[]

job_tags=webdrivers.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_tags[0:10]
company_tags=webdrivers.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags[0:10]
location_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]
exp_tags=webdrivers.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="b6b0e457-ec5a-40d9-904c-ed93818d1001")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="ea6c53a0-9a1a-4062-bd28-43cf9ec3db4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="66501296-219a-4555-b454-677cd92cd659")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="52bc592e-fc4c-495a-80c9-7db1be47b45f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="120d100b-21c4-4532-b99d-a78de68bd2c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="a9056a3d-4b65-4f09-ae31-5ff709c7d33e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="eb7f5c1b-c677-4629-9401-89948acdcd83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="417f335e-ed6c-4cb8-97fa-3f8f7032d93c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="fab05867-0797-4329-97c4-30a8d8d93fe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6b57ac39176e3461ec9c28e5e04a65e", element="2b5c33f5-dc4a-4b04-b7c8-b76c1306ad93")>]

In [42]:
for i in range(0,10):
    
    job_tag=job_tags[i].text
    job_title.append(job_tag)
    company_tag=company_tags[i].text
    company_name.append(company_tag)
    location_tag=location_tags[i].text
    job_location.append(location_tag)
    exp_tag=exp_tags[i].text
    exp_req.append(exp_tag)

In [43]:
Job_details=pd.DataFrame({})
Job_details["Job Title"]=job_title
Job_details["Company Name"]=company_name
Job_details["Job Location"]=job_location
Job_details["Experience Required"]=exp_req

In [44]:
Job_details

,Job Title,Company Name,Job Location,Experience Required
0,Data Scientist/Data Analyst /Business Analyst,Inflexion Analytix Private Limited,"Pune, Delhi / NCR, Mumbai (All Areas)",0-3 Yrs
1,Team Leader Operations/Data Scientist,Optimint Solutions Pvt. Ltd.,"Gurgaon/Gurugram, Delhi / NCR",2-5 Yrs
2,Senior Data Scientist,inVentiv International Pharma Services Pvt. Ltd.,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",3-6 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Greater Noida, Delhi / NCR",0-0 Yrs
4,Data Scientist (Early Joiner),R Systems International Ltd.,Noida(Sector-59 Noida),4-8 Yrs
5,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon/Gurugram,2-6 Yrs
6,Data Scientist,recruitment advisory line,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",3-6 Yrs
7,Data Scientist || Python || C2H,Growel Softech Pvt. Ltd.,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",4-6 Yrs
8,Data Scientist || Python || C2H,Growel Softech Pvt. Ltd.,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",4-6 Yrs
9,Advanced Analytics -Data Scientist,ERM Placement Services (P) Ltd.,"New Delhi, Hyderabad/Secunderabad",3-7 Yrs

__Task 4__

In [48]:
chromedriver_path = r"C:\Users\parin\Downloads\chromedriver_win32\chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.glassdoor.co.in/index.htm")

In [54]:
# go_sign_in=webdrivers.find_element_by_class_name("locked-home-sign-in")
go_sign_in=webdrivers.find_element_by_xpath("//button[@class='google gd-btn short']")
go_sign_in.click()

In [69]:
# Signing in to Glassdoor

__Task 5___

In [72]:
chromedriver_path = r"C:\Users\parin\Downloads\chromedriver_win32\chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.glassdoor.co.in/Salaries/index.htm")
sleep(5)

In [ ]:
job=webdrivers.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[5]")
job.send_keys("Data Scientist")

location=webdrivers.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[6]")
location.send_keys("Noida")

search=webdrivers.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/button")
search.click()
sleep(3)

__Task 6__

In [95]:
chromedriver_path = r"C:\Users\parin\Downloads\chromedriver_win32\chromedriver.exe"
webdrivers= webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.flipkart.com/")

In [97]:
search_field=webdrivers.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_field.send_keys("sunglasses")

search_btn=webdrivers.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [98]:
brand=webdrivers.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_list=[]

In [99]:
for i in range(len(brand)):
    print(brand[i].text)
    brand_list.append(brand[i].text)
description=webdrivers.find_elements_by_xpath("//a[@class='IRpwTa']")

kingsunglasses
Fastrack
Fastrack
PIRASO
GANSTA
Fastrack
Fastrack
kingsunglasses
kingsunglasses
Fastrack
PHENOMENAL
kingsunglasses
Fastrack
PHENOMENAL
Silver Kartz
kingsunglasses
Fastrack
Fastrack
PIRASO
PIRASO
ROZZETTA CRAFT
HIPPON
DEIXELS
PHENOMENAL
hipe
ROZZETTA CRAFT
Fastrack
Flizz
PIRASO
kingsunglasses
Singco
Poland
Fastrack
ROZZETTA CRAFT
NuVew
ROZZETTA CRAFT
kingsunglasses
Fastrack
kingsunglasses
hipe

In [100]:
for i in range(len(description)):
    print(description[i].text)
price=webdrivers.find_elements_by_xpath("//div[@class='_30jeq3']")

Mirrored, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (54)
UV Protection Aviator Sunglasses (57)
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (Free Size)
Mirrored, UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Round Sunglasses (Free Size)
UV Protection Shield Sunglasses (Free Size)
UV Protection Round Sunglasses (53)
UV Protection Round Sunglasses (54)
UV Protection Wayfarer Sunglasses (56)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (55)
UV Protection Aviator Sunglasses (Free Size)
UV Protection Aviator Sunglasses (58)
UV Protection Aviator Sunglasses (Free Size)
UV Protection Aviator Sunglasses (58)
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection Wayfarer Sunglasses (55)
UV Protection Aviator, Wayfarer Sunglasses (Free Size)
UV Protection, Mirrored Retro Square Sunglasses (53)
Mirrored, UV Protection, Gradient Round Sunglasses (55)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection, Polarized Wayfarer Sunglasses (56)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Aviator Sunglasses (54)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection, Others Aviator Sunglasses (32)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Wrap-around Sunglasses (Free Size)
UV Protection, Riding Glasses Rectangular Sunglasses (F...
UV Protection Aviator Sunglasses (58)
UV Protection, Gradient Rectangular Sunglasses (Free Si...
Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...
UV Protection Aviator Sunglasses (58)
UV Protection Rectangular Sunglasses (Free Size)
UV Protection Sports Sunglasses (Free Size)

In [101]:
for i in range(len(price)):
    print(price[i].text)

₹299
₹513
₹758
₹237
₹281
₹509
₹647
₹299
₹349
₹781
₹297
₹225
₹655
₹399
₹259
₹349
₹592
₹1,010
₹331
₹331
₹499
₹251
₹200
₹399
₹197
₹499
₹612
₹399
₹237
₹210
₹328
₹162
₹522
₹449
₹215
₹404
₹299
₹1,085
₹210
₹299

In [102]:
discount=webdrivers.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

In [103]:
for i in range(len(discount)):
    print(discount[i].text)

88% off
₹286 off
₹141 off
85% off
85% off
₹290 off
₹252 off
88% off
78% off
₹118 off
87% off
79% off
₹244 off
80% off
82% off
76% off
₹307 off
₹289 off
79% off
87% off
77% off
79% off
83% off
80% off
86% off
77% off
₹287 off
81% off
85% off
82% off
83% off
67% off
41% off
79% off
72% off
79% off
80% off
₹214 off
83% off
84% off

In [104]:
next_page=webdrivers.find_element_by_xpath("//a[@class='_1LKTO3']")
#n_p=next_page.get_attribute('href')
for i in range(1,5):
    N_p='https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i)
    sleep(2)
    webdrivers.get(N_p)

In [105]:
next_page=webdrivers.find_element_by_xpath("//a[@class='_1LKTO3']")
n_p=next_page.get_attribute('href')
#webdrivers.get(n_p)
n_p

'https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3'

In [106]:
N_p='https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+'5'

In [107]:
webdrivers.get(N_p)

In [ ]:
brand_name=[]

for i in range(len(brand)):
    brand_name.append(brand)
    if len(brand_name)<100:
        next_page.click()

In [111]:
len(brand_list)

40

In [109]:
def flipkart(url):
    name=[]
    chromedriver_path=r"C:\Users\91987\Desktop\New Web diver/chromedriver.exe"
    webdrivers= webdriver.Chrome(executable_path=chromedriver_path)
    sleep(2)
    webdrivers.get(url)
    sleep(2)
    
    search_field=webdrivers.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
    search_field.send_keys("sunglasses")
    
    search_btn=webdrivers.find_element_by_xpath("//button[@class='L0Z3Pu']")
    search_btn.click()
    
    #next_page=webdrivers.find_element_by_xpath("//a[@class='_1LKTO3']")
    #n_p=next_page.get_attribute('href')
    brand=webdrivers.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in range(len(brand)):
        name.append(brand[j].text)
        
    next_p("https://www.flipkart.com/search?q=sunglassessunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=")

In [112]:
def next_p(link):
    for k in range(2,5):
        N_p=link+str(i)
        webdrivers.get(N_p)
        if len(name)<100:
            for m in range(len(brand)):
                name.append(brand)

__Task 10__

In [113]:
from selenium.common.exceptions import NoSuchElementException

In [116]:
chromedriver_path = r"C:\Users\parin\Downloads\chromedriver_win32\chromedriver.exe"
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
webdrivers = webdriver.Chrome(executable_path=chromedriver_path)
sleep(2)
webdrivers.get("https://www.amazon.in/")

In [117]:
search=webdrivers.find_element_by_id("twotabsearchtextbox")
search.clear()
search.send_keys("Laptops")
search_click=webdrivers.find_element_by_xpath("//span[@id='nav-search-submit-text']")
search_click.click()

In [123]:
# Applying filter 

#i7

filter_1=webdrivers.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_1:
    if i.text == 'Intel Core i7':
        print(i.text)
        i.click()
        break

Intel Core i7

In [124]:
# Applying filter 

#i9

filter_2=webdrivers.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_2:
    if i.text=="Intel Core i9":
        print(i.text)
        i.click()
        break

Intel Core i9

In [126]:
Title=[]
title=webdrivers.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title[:10]:
    Title.append(i.text)
    
Price=[]
prices=webdrivers.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices[:10]:
    Price.append(i.text)
    
ratings=[]
pages=webdrivers.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

PG=[]
for i in pages[:10]:
    PG.append(i.get_attribute('href'))
for j in PG:
    webdrivers.get(j)
    try:
        star=webdrivers.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        star.click()
        rating=webdrivers.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        ratings.append(rating.text)
    except NoSuchElementException as e:
        ratings.append("No ratings found")

In [127]:
records=pd.DataFrame({'Title':Title,
                 'Price':Price,
                 'Ratings':ratings})
print(records)

                                               Title   Price       Ratings
0  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.4 out of 5
1  HP Pavilion (2021) Thin & Light 11th Gen Core ...  84,990  4.5 out of 5
2  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...  78,910    4 out of 5
3  Mi Notebook Horizon Edition 14 Intel Core i7-1...  59,999  4.4 out of 5
4  Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...  93,071  4.7 out of 5
5  Lenovo Legion Y540 Intel Core i7 9th Gen 15.6”...  69,990  4.3 out of 5
6  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....  94,089  3.8 out of 5
7  Lenovo Ideapad 5 Intel i7 11th Gen 15.6" Thin ...  84,990  4.3 out of 5
8  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  83,990    4 out of 5
9  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  76,990  4.3 out of 5